.note{
    width: 190px;
    min-height: 190px;
    justify-content: space-between;
    background-color: #e4e4e4;
    color: #000;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 15px;
}

.inputbox{
    border:none;
    background-color: #e4e4e4
}
